<section data-ng-controller="GamesController">
    <div class="page-header">
        <h1>New Game</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>

                <div class="form-group">
                    <div class="radio">
                      <label class="control-label" for="isPic1">
                        <input type="radio" name="isPic" id="isPic1" value="0" data-ng-model="isPic">
                        Initiate a game with an inspirate <strong>texted</strong> punchline
                      </label>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="content" data-ng-model="content" placeholder="My text for starting the game">
                    </div> 

                    <div class="radio">
                      <label class="control-label" for="isPic2">
                        <input type="radio" name="isPic" id="isPic2" data-ng-model="isPic" value="1">
                        Initiate a game with handcrafted <strong>drawing</strong>
                      </label>
                    </div>
                </div>  

                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>

            </fieldset>
        </form>
    </div>
</section>